<div class="gradation-image object-contain">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-5 mt-8 md:mb-10">
      <h1 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl">マイマップ</h1>
    </div>

    <div class="flex justify-center mt-5">
      <div id="profiles-map" class="w-full max-w-3xl" style="height: 500px;"></div>
    </div>

  <div class="py-1 sm:py-6 lg:py-7 mt-5">
    <div class="mx-auto max-w-screen-xl px-5 md:px-8">

      <div class="mb-5 md:mb-10">
        <h1 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl">投稿一覧</h1>
      </div>

      <div class="px-14 py-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 shadow-md">
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <div class="overflow-hidden bg-white-90 shadow-md rounded">
              <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                  <% post.post_images.each do |image| %>
                    <div class="swiper-slide group relative block h-40 overflow-hidden bg-gray-100 md:h-64">
                      <%= link_to image_tag(image.url, loading: "lazy", alt: "post images", class: "absolute inset-0 h-full w-full object-cover object-center transition duration-500 group-hover:scale-110 "), post_path(post) %>
                    </div>
                  <% end %>
                  <div class="swiper-pagination"></div>
                </div>
              </div>

              <div class="p-1 sm:p-1">
                <div class="flex items-center">
                  <h2 class="text-md font-semibold"><%= post.temple_name %></h2>
                  ｜<span class="text-xs text-gray-700"><%= post.map.address%></span>
                </div>

                <p class="text-gray-500 break-words lg:h-12 text-xs mt-1"><%= truncate(post.comment, length: 90) %></p>

                <div class="mt-auto flex items-center items-end justify-between">
                  <div class="flex items-center gap-2">
                    <div>
                      <span class="block text-sm text-indigo-500"><%= post.user.name %></span>
                    </div>
                  </div>
                  
                  <span class="px-2 py-1 text-xs text-gray-500"><i class="fa-regular fa-eye"><%= post.view_counts.count %></i><%= post.created_at.strftime("%Y-%m-%d") %></span>
                </div>
              </div>   
            </div>
          <% end %>
        </div>
        <% else %>
          <div class="col-span-2 sm:col-span-2 md:col-span-3 flex items-center justify-center">
            <p class="text-gray-700 text-center">掲示板がありません。</p>
          </div>
        <% end %>
      </div>
  </div>
</div>

<script 
  type="text/javascript" 
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=profilesInitMap" 
  async
  defer
></script>

<script>
  function profilesInitMap() {
    // 記事未作成時の初期位置
    const myLatLng = { lat: 35.68090045006303, lng: 139.76690798417752 };

    // 地図の初期位置
    const initialPosition = gon?.locations?.length > 0
      ? { lat: gon.locations[0].latitude, lng: gon.locations[0].longitude }
      : myLatLng

    // 地図を作成
    const map = new google.maps.Map(document.getElementById("profiles-map"), {
      center: initialPosition,
      zoom: 12,
    });

    if (gon?.locations?.length > 0) {
      gon.locations.forEach((location) => {
        const marker = new google.maps.Marker({
          position: { lat: location.latitude, lng: location.longitude },
          map: map,
          title: location.address,
          icon: location.marker_image? {
            url: location.marker_image,
            scaledSize: new google.maps.Size(30, 30)
          } : null,
        });

        marker.addListener("click", function(){
          window.location.href = location.link;
        });
      });
    } else {
      new google.maps.Marker({
        position: myLatLng,
        map: map,
      });
    }
  }
</script>