<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "名僧マッチ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/c862512458.js" crossorigin="anonymous"></script>
    <%= display_meta_tags(default_meta_tags) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQMWTXDKBP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MQMWTXDKBP');
    </script>
    <% if current_page?(root_path) %>
      <title>トップページ</title>
    <% elsif current_page?(profile_path) %>
      <title>プロフィール</title>
    <% elsif controller_path == "personality_tests" && action_name == "new" %>
      <title>性格診断</title>
    <% elsif controller_path == "personality_tests" && action_name == "show" %>
      <title>診断結果: <%= @personality_test.result %></title>
    <% elsif controller_path == "posts" && action_name == "index" %>
      <title>投稿一覧</title>
    <% elsif controller_path == "posts" && action_name == "new" %>
      <title>新規投稿</title>
    <% elsif controller_path == "posts" && action_name == "edit" %>
      <title>投稿編集</title>
    <% elsif controller_path == "posts" && action_name == "show" %>
      <title><%= @post.title %></title>
    <% elsif controller_path == "profiles" && action_name == "user_info" %>
      <title>ユーザー情報</title>
    <% else %>
      <title>サイト名</title>
    <% end %>
  </head>

  <body>
    <%= include_gon %>
    <div class="gradation-image object-contain">
      <%= render 'shared/header'%>
      <%= render 'devise/shared/flash_message' unless controller_name == 'sessions' && action_name == 'new' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
